Q_Pricespercustomer/app/code/local/Q/Pricespercustomer/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">

    <message name="pricePerCustomerListRequest">
        <part name="sessionId" type="xds:string" />
    </message>
    <message name="pricePerCustomerListResponse">
        <part name="result" type="typens:pricePerCustomerEntityArray" />
    </message>
    <message name="pricePerCustomerInfoRequest">
        <part name="sessionId" type="xds:string" />
        <part name="data" type="xds:string" />
        <part name="storeId" type="xds:string" />
    </message>
    <message name="pricePerCustomerInfoResponse">
        <part name="result" type="typens:pricePerCustomerEntityArray" />
    </message>
    <message name="pricePerCustomerCreateRequest">
        <part name="sessionId" type="xds:string" />
        <part name="customerData" type="typens:pricePerCustomerEntityArray" />
    </message>
    <message name="pricePerCustomerCreateResponse">
        <part name="result" type="xsd:int" />
    </message>
    <message name="pricePerCustomerUpdateRequest">
        <part name="sessionId" type="xds:string" />
        <part name="customerId" type="xds:string" />
        <part name="productId" type="xds:string" />
        <part name="customerData" type="typens:pricePerCustomerEntityArray" />
    </message>
    <message name="pricePerCustomerUpdateResponse">
        <part name="result" type="xsd:int" />
    </message>
    <message name="pricePerCustomerDeleteRequest">
        <part name="sessionId" type="xds:string" />
        <part name="productId" type="xds:string" />
        <part name="customerId" type="xds:string" />
    </message>
    <message name="pricePerCustomerDeleteResponse">
        <part name="result" type="xsd:int" />
    </message>

    <portType name="{{var wsdl.handler}}PortType">
        <operation name="pricePerCustomerList">
            <documentation>Retrieve price per customer</documentation>
            <input message="pricePerCustomerListRequest" />
            <output message="pricePerCustomerListResponse"/>
        </operation>
        <operation name="pricePerCustomerInfo">
            <documentation>Retrieve entity price per customer</documentation>
            <input message="pricePerCustomerInfoRequest" />
            <output message="pricePerCustomerInfoResponse"/>
        </operation>
        <operation name="pricePerCustomerCreate">
            <documentation>Create price per customer</documentation>
            <input message="pricePerCustomerCreateRequest" />
            <output message="pricePerCustomerCreateResponse"/>
        </operation>
        <operation name="pricePerCustomerUpdate">
            <documentation>Update price per customer</documentation>
            <input message="pricePerCustomerUpdateRequest" />
            <output message="pricePerCustomerUpdateResponse"/>
        </operation>
        <operation name="pricePerCustomerDelete">
            <documentation>Delete price per customer</documentation>
            <input message="pricePerCustomerDeleteRequest" />
            <output message="pricePerCustomerDeleteResponse"/>
        </operation>
    </portType>

    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="pricePerCustomerList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="pricePerCustomerInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="pricePerCustomerCreate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="pricePerCustomerUpdate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="pricePerCustomerDelete">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>